*{
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica
}

#body {
	margin: 0 auto;
	position: relative
}
.top-section{
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header {
	font-size: 40px;
	font-weight: 700;
	text-align: center
}

.follow-section h3{
 font-size: 16px;
 font-weight: 700;
 text-align: center
}
.list h3{
	font-size: 12px;
	font-weight: 700;
}
.node {
	cursor: pointer;
}

.node circle {
	cursor: pointer;
	fill: #fff;
	stroke: #4682b4;
	stroke-width: 1.5px
}

.node text {
	font-size: 12px;
	fill: #000
}

path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px
}
@media (max-width:768px){
	.top-section{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#header {
		font-size: 24px;
	}
	.follow-section h3{
		font-size: 12px;
	}
	.list h3{
		text-align: center;
	}
	#body{
		overflow-x: auto;
	}
}